<!--<child-component    my-name='Angular'    my-two-way="$ctrl.heroTwoWayBinding"        my-data="$ctrl.hero" parent-click="$ctrl.show({description})" parent-diff-click="$ctrl.diffClick({EmployeeName})"   primitive-value="$ctrl.primitiveValue" ></child-component>
hello  {{$ctrl.heroTwoWayBinding}}
<br/>   
<br/>
<br/>
<br/>
One Way Binding it never going to change <input type="text" ng-model="$ctrl.primitiveValue"/>
<div>
    <input type="text" ng-model="$ctrl.sites"/>
<button ng-click="$ctrl.Add()">Add</button>
</div>
-->



<child-component1 on-view-change="$ctrl.view =$event.view" enter-value="$ctrl.enterInfo" enter-value-data="$ctrl.enterValueData()" view="$ctrl.view"></child-component1>
<child-component2 enter-value-array="$ctrl.enterArray"   view="$ctrl.view"></child-component2>
